#miscTools {
    float:right;
    position:relative;
    padding: 2px;
    text-align: left;
}

#link {
    float: left;
    padding: 2px;
    position: relative;
    width: 50%;
}

table tr td {
    padding: 2px;
    margin: 2px;
}

tr.neutral {
    background-color: lightskyblue;
}
tr.gain {
    background-color: greenyellow;
}
tr.loss{
    background-color: tomato;
}
td {
    font-family: sans-serif;
}
caption{
    padding-top: 20px;
    font-size: 1em;
    font-weight: 200;
    font-family: sans-serif;
}

html {
    min-width: 900px;
    width:90%;
}

p {
    margin:1px;
    padding:1px;
    border:1px;
    text-align: left;    
}

p.explaination {
    font-family: sans-serif;
    text-indent: 1em;
}

p.output{
    font-weight: 600;
    text-align: right;
}



h1 {
    text-align: center;
}