#miscTools {
    float:right;
    position:relative;
    padding: 2px;
    text-align: left;
}

#link {
    float: left;
    padding: 2px;
    position: relative;
    width: 50%;
}

table tr td {
    padding: 2px;
    margin: 2px;
}
tr.neutral {
    background-color: lightskyblue;
}
tr.gain {
    background-color: greenyellow;
}
tr.loss{
    background-color: tomato;
}
caption{
    font-size: 1.5em;
}

html {
    min-width: 900px;
    width:90%;
}

p {
    margin:1px;
    padding:1px;
    border:1px;
    text-align: left;
    
}

p.output{
    font-weight: 900;
    text-align: right;
}



h1 {
    text-align: center;
}